{% extends "base.html" %}
{% load staticfiles i18n  %}
{% block title %}Login{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock head %}
{% block content %}
   <div class="cover">
    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{ error }}
        </div>
      {% endfor %}
    {% endif %}
    <div class="login">
      <h2>{% trans 'Sign in' %}</h2>
      <form method="post" action="" role="form">
        {% csrf_token %}
        <div class="form-group{% if form.username.errors %} has-error{% endif %}">
          <label for="username">{% trans 'Username' %}</label>
          <input type="text" class="form-control" id="username" name="username">
          {% for error in form.username.errors %}
            <label class="control-label">{{ error }}</label>
          {% endfor %}
        </div>
        <div class="form-group{% if form.password.errors %} has-error{% endif %}">
          <label for="password">{% trans 'Password' %}</label>
          <input type="password" class="form-control" id="password" name="password">
          {% for error in form.password.errors %}
            <label class="control-label">{{ error }}</label>
          {% endfor %}
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success btn-block">{% trans 'login' %}</button>

        </div>
          <p> Don't have an account ?<a href="/register/"> SignUp Now</a></p>
          <p> Forgot Password? <a href="">Reset it</a></p>
      </form>
    </div>
  </div>
{% endblock %}